<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.alessiomanai.streamingtv">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".canali.Giallo"></activity>
        <activity android:name=".canali.TopCrime" />
        <activity android:name=".canali.Italia1" />
        <activity android:name=".canali.Tv8" />
        <activity android:name=".canali.RsiLa2" />
        <activity android:name=".canali.RsiLa1" />
        <activity android:name=".canali.Canale5" />
        <activity android:name=".canali.TgrSardegna" />
        <activity android:name=".canali.FoodNetwork" />
        <activity android:name=".canali.Videolina" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>